{
  "printWidth": 80,
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "jsxBracketSameLine": false,
  "proseWrap": "always",
  "trailingComma": "es5",
  "parser": "babel",
  "arrowParens": "avoid"
}

